services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "5001:3000"
    env_file:
      - ./backend/.env
